body {
  padding: 30px;
}
header {
  background: lightblue;
}
section {
  flex-basis:75%;
  background: lightgreen;
}
article {
  
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  flex-basis:25%;
}
header, article, section, .module {
  padding: 1rem;
}
#wrapper{
  display:flex;
  flex-basis:100%;
}